#circle {
    width: calc(1.5em / 0.7);
    height: calc(1.5em / 0.7);
    box-shadow: 3px 3px 10px rgb(193, 193, 193);
}


/* 기본 스타일: 래퍼 */
.growth_del_innerbox {
    display: flex;
    justify-content: center;

    margin: 0 auto;
    padding: 30px;
    max-width: 1170px;
}

#circle {
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 3em;
    color: rgb(13, 14, 13);
    /*border: 2px solid rgb(56, 150, 128);*/
    margin-left: 120px;
    text-align: center;
    
}

.age{
    font-size:30px;
    font-weight:bolder;
    font-family:sans-serif;
}

.result{
    border : 2px solid #f89808;
    border-radius: 20px;
    text-align : center;
    padding : 100px 0;
    font-size: 2em;
    font-family:sans-serif;
    background-color: rgb(255, 255, 255);
}

.card-title_ch{
    font-size: 2em;
}